* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 480px;
  width: 300px;
  justify-content: space-between;
  background-color: rgba(8, 7, 7, 0.822);
  padding: 15px;
  border-radius: 20px;
}

.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 10px;
}

.container > button {
  width: 50px;
  height: 50px;
  background-color: gray;
  border-radius: 50%;

  font-weight: 500;
  font-size: 18pt;
  color: aliceblue;
  border: none;
  text-align: center;
}

.container .first {
  display: inline-block;
  flex-grow: 1;
  background-color: rgb(95, 89, 89);
  border-radius: 20px;
  height: 105px;
  font-size: 35px;
  padding-top: 30px;
  text-align: right;
}

.container .symbol {
  background-color: coral;
}

.container .eraser {
  background-color: brown;
}

.container .clear {
  width: 120px;
  border-radius: 20px;
}
.container-symbols {
  border: 2px solid grey;
  border-radius: 20px;
  padding: 8px;
}
.container .zero {
  width: 120px;
  border-radius: 20px;
}
